# Node modules
/node_modules/

# Build outputs
/build/
/dist/

# Truffle artifacts
/build/contracts/
/build/deployments/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log

# Misc
.DS_Store
*.swp
*.swo

# IDE or Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Yarn and npm lock files (optional, depending on your workflow)
# yarn.lock
# package-lock.json

# Coverage reports
coverage/
